.linkItem{
    position: relative;
    color: #DDF9EF;
    z-index: 2;
    h2{
        font-weight: 400;
        transition: all .5s ease-in-out;
        font-size: 6vw;
    }
    &:hover{
        color: #010403;
    }
    &::after{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        transform: scaleX(0);
        transform-origin: left;
        background-color: #29D196;
        transition: all .5s ease-in-out;
        z-index: -1;
    }
    &:hover::after{
        transform: scaleX(1);
        transform-origin: left;
        left: 0;
    }
    &:hover h2 {
        font-weight: 800;
    }
    &:hover .icon{
        opacity: 1;
    }
    .icon{
        opacity: 0;
        transition: all .5s ease-in-out;
        border-radius: 50%;
    }
}

@media screen and (max-width: 1024px){
    .linkItem{
        h2{
            font-size: 8vw;
        }
    }
}
