.beforeHome{
    cursor: pointer;
    h1{
        position: relative;
        line-height: 30vw;
        background-image: linear-gradient(45deg, #2DD69B, #1F439E);
        background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent; 
        -moz-text-fill-color: transparent;
        overflow: hidden;
        span{
            line-height: 0px;
        }
    }

    h2{
        position: relative;
        text-wrap: nowrap;
        line-height: 3vw;
    }
}

.bgHome{
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vw;
    transform-origin: center;
}

.end{
    animation: end .1s .8s forwards;
    @keyframes end {
        from{
            display: block;
        }
        to{
            display: none;
        }
    }
}
.cursor {
    pointer-events: none;
}

.homeContainer{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    grid-template-areas: 
    "me me me projects projects"
    "game game game projects projects"
    "game game game themeColor darkMode";
    margin: 20px;
    .widget{
        overflow: hidden;
        &:first-child{
            cursor: pointer;
        }
    }
    @media screen and (max-width:1200px) {
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "me me"
        "projects game";
    }

    @media screen and (max-width:1024px) {
        grid-template-columns: 1fr; 
        grid-template-rows: auto;
        grid-template-areas: 
        "me"
        "projects"
        "game";
        .widget{
            height: 50vh;
            &:first-child{
                height: 70vh;
            }
        }
    }
}