.beforeHome{
    h1{
        position: relative;
        font-size: 15rem;
        color: #FAFEFA;
        &::after{
            content: "Evan";
            position: absolute;
            text-transform: capitalize;
            z-index: -1;
            color: #020E03;
            top: -5px;
            left: -5px;
            font-size: 15rem;
            opacity: .8;
        }
    }

    h2{
        position: relative;
        text-wrap: nowrap;
        color: #FAFEFA;
        &::after{
            content: "Developpeur web";
            position: absolute;
            text-transform: uppercase;
            text-wrap: nowrap;
            z-index: -1;
            color: #020E03;
            top: -5px;
            left: -5px;
            font-size: 4.5rem;
            opacity: .8;
        }
    }
}

.cursor {
    pointer-events: none;
    transition: background .3s;
}

.end{
    animation: end .1s .8s forwards;
    @keyframes end {
        from{
            display: block;
        }
        to{
            display: none;
        }
    }
}

.homeContainer{
    grid-template-columns: 1.5fr 1fr; 
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "me projects"
    "me game";
    .widget{
        overflow: hidden;
        &:first-child{
            cursor: pointer;
        }
    }
    @media screen and (max-width:1200px) {
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "me me"
        "projects game";
    }

    @media screen and (max-width:1024px) {
        grid-template-columns: 1fr; 
        grid-template-rows: auto;
        grid-template-areas: 
        "me"
        "projects"
        "game";
        .widget{
            height: 50vh;
            &:first-child{
                height: 70vh;
            }
        }
    }
}