.beforeHome{
    cursor: pointer;
    h1{
        position: relative;
        line-height: 30vw;
        overflow: hidden;
        span{
            line-height: 0px;
        }
    }

    h2{
        position: relative;
        text-wrap: nowrap;
        line-height: 3vw;
    }
}

.bgHome{
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vw;
    transform-origin: center;
}

.end{
    animation: end .1s .8s forwards;
    @keyframes end {
        from{
            display: block;
        }
        to{
            display: none;
        }
    }
}
.cursor {
    pointer-events: none;
}

.homeContainer{
    min-height: calc(100vh - 40px);
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 20px;
    grid-template-areas: 
    "me me game game"
    "me me game game"
    "projects projects game game"
    "projects projects themeColor darkMode";
    margin: 20px;
    .widget{
        overflow: hidden;
        &:first-child{
            cursor: pointer;
        }
    }
    @media screen and (max-width:1024px) {
        grid-template-columns: 1fr 1fr 1fr; 
        grid-template-rows: 200px 200px 1fr;
        grid-template-areas: 
        "me me themeColor"
        "projects projects darkMode" 
        "game game game";
    }

    @media screen and (max-width:700px) {
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 200px 200px 200px 1fr;
        grid-template-areas: 
        "me me"
        "projects projects" 
        "themeColor darkMode"
        "game game";
    }

    @media screen and (max-height:700px) {
        height: auto;
    }
}