.homePres{
    position: relative;
    z-index: 2;
    h1{
        font-weight: 400;
        transition: all .5s li;
        text-align: center;
    }
    h2{
        font-weight: 400;
        transition: all .5s ease-in-out;
        text-align: center;
    }
    &:hover::after{
        transform: scaleX(1);
        transform-origin: left;
        left: 0;
    }
    &:hover h2 {
        font-weight: 800;
    }
    &:hover h1 {
        font-weight: 800;
    }

    @media screen and (max-width: 768px){
        &:hover h2 {
            font-weight: 400;
        }
    }
}