.projectHome{
    position: relative;
    z-index: 2;
    h2{
        font-weight: 400;
        transition: all .5s ease-in-out;
        text-align: center;
    }
    &:hover::after{
        transform: scaleY(1);
        transform-origin: top;
        left: 0;
    }
    &:hover h2 {
        font-weight: 800;
    }
    @media screen and (max-width: 768px){
        &:hover h2 {
            font-weight: 400;
        }
    }
}